{% extends 'base.html.twig' %}

{% block title %}JOB.UA | My profile{% endblock %}

{% block body %}
    <div class="card text-center">
        <div class="card-header">
            <h1>{{ app.user }}</h1>

        </div>
        <div class="card-body">
            <h5 class="card-title">My resumes:</h5>
            {% for resume in resumes %}
                <p class="card-text">{{ resume }}<br><a href="{{ path('edit_resume', {'id' : resume.getId() }) }}" class="">Edit resume</a></p>
            {% endfor %}
        </div>
        <div class="card-footer text-muted">
            <a href="{{ path('edit_user', {'id' : app.user.id}) }}">Edit user data</a>
        </div>
    </div>
{% endblock %}
